#shop {
    --item-bg: white;
    --item-fg: black;
    --item-fg-fade: rgba(0, 0, 0, 0.7);
    height: fit-content;
}

#shop * {
    color: white;
}

#title-content {
    align-items: center;
    background-color: var(--title-content-bg);
    display: flex;
    height: 20vh;
    justify-content: center;
    width: 100%;
}

#title-content > #title-container {
    width: 80%;
}

#title-container > h2 {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
}

#title-container > p {
    font-size: 0.9rem;
    font-weight: 300;
}

#img-container {
    align-items: center;
    background-color: var(--main-img-bg);
    display: flex;
    height: 40vh;
    justify-content: center;
    width: 100%;
}

#img-container > img {
    height: 90%;
}

#filter {
    align-items: center;
    background-color: var(--items-content-bg);
    display: flex;
    height: 10vh;
    justify-content: center;
}

#filter > .container {
    align-items: flex-start;
    background-color: var(--items-content-bg);
    display: flex;
    height: fit-content;
    flex-direction: column;
    margin-left: 2rem;
    margin-right: 2rem;
    width: fit-content;
}

#filter > .container > * {
    background-color: var(--items-content-bg);
    border: none;
    font-weight: 500;
}

#filter > .container > button {
    cursor: pointer;
    opacity: 0.7;
    transition: 300ms;
}

#filter > .container > button:hover {
    opacity: 1;
}

#filter > .container > button:hover + .bar {
    opacity: 1;
    transform: translate(0.1rem, 0);
}

#filter > .container > .bar {
    background-color: white;
    border-radius: 15px;
    height: 0.1rem;
    left: 0.3rem;
    opacity: 0;
    position: relative;
    transform: translate(-2rem, 0);
    transition: 300ms;
    width: 2rem;
}

#gallery {
    background-color: var(--items-content-bg);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#gallery > a > .item {
    align-items: center;
    background-color: var(--item-bg);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    height: 40vw;
    justify-content: center;
    margin: 1rem;
    max-height: 20rem;
    max-width: 20rem;
    width: 40vw;
}

#gallery > a > .item > * {
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
    top: 14%;
}

#gallery > a > .item > img {
    height: 30%;
}

#gallery > a > .item > .container {
    font-size: min(3vw, 1.5rem);
    height: 35%;
    left: 18%;
    position: relative;
    width: 60%;
}

#gallery > a > .item > .container > * {
    margin-bottom: 2%;
    margin-top: 2%;
}

#gallery > a > .item > .container > h4 {
    color: var(--item-fg);
    font-weight: 300;
    font-size: 70%;
    letter-spacing: 0.1rem;
}

#gallery > a > .item > .container > p {
    color: var(--item-fg);
    font-size: 100%;
    font-weight: 500;
}

#gallery > a > .item > .container > button {
    background-color: var(--item-fg);
    border: 1px solid var(--border-fg);
    border-radius: 15px;
    color: var(--item-bg);
    cursor: pointer;
    font-size: 70%;
    height: 40%;
    letter-spacing: 0.1rem;
    transition: 100ms;
    width: 70%;
}


#gallery > a > .item > .container > button:hover { 
    background-color: var(--item-fg-fade);
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 2rem;
    }
}
